body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  background: linear-gradient(to bottom, #fdfbfb, #ebedee);
  color: #000;
  transition: background 0.3s, color 0.3s;
}
